<html>
	<head>
		<title>Enkelpolitik</title>
		<link rel="stylesheet" type="text/css" href="views/style.css">
	</head>
	<body>
		<center>
			<div width="100%" class="header">
				<img style="display: inline-block" src="views/photos/logo.png" class="logo"/>
				<h1 style="display: inline-block; vertical-align: middle;">Enkel politik</h1>
			</div>
		</center>
		<div id="inforiksdag">
			<center>
				<h2 class="foregroundTitle">Democracy for real!</h2>
				<p class="foregroundText"><span>We do not recommend a party based on what they promise but what they deliver</span></p>
				<p class="foregroundText"><span>You say what you think about real motions, and we compare it to how the parties voted</span></p>
				<p class="foregroundText"><span>Here you can also find information about the parlament's current activities</span></p>
			</center>
		</div>
		<div width="100%" style="background-color:#18536d;">
			<center>
				<h2>Choose an alternative</h2>
				<div>
						<a href="quiz"><button class="choiceButton">Political test</button></a>
						<a href="info"><button class="choiceButton">Parlament motions</button></a>
				</div>
			</center>
		</div>
		<div class="footer">
			<img class="logo" src="views/photos/logo.png" style="display: inline-block;"/>
			<div style="display: inline-block; vertical-align: middle;">
				<h4>Enkel politik</h4>
				<p class="subTitle">Made by team <a href="https://github.com/mincoder/EnkelPolitik/">2Victor</a> @ <a href="https://hackforsweden.se/">Hack for Sweden</a> 2018</p>
				<p class="subTitle">Forked by <a href="https://github.com/ntoonio/EnkelPolitik/">Anton Lindroth</a></p>
			</div>
		</div>
	</body>
</html>
