<html>
	<head>
		<title>Enkelpolitik</title>
		<link rel="stylesheet" type="text/css" href="views/style.css">
	</head>
	<body>
		<center>
			<div width="100%" class="header">
				<img style="display: inline-block" src="views/photos/logo.png" class="logo" align="middle"/>
				<h1 style="display: inline-block; vertical-align: middle;">Enkel politik</h1>
			</div>
		</center>
		<div id="inforiksdag">
			<center>
				<h2 class="foregroundTitle">Democracy for real!</h2>
				<p class="foregroundText"><span>We do not recomend a party based on what they promise but what they deliver</span></p>
				<p class="foregroundText"><span>We give you motions from parlament, and recomend a party based on what you think about them</span></p>
				<p class="foregroundText"><span>We also have information about the parlament's current activities</span></p>
			</center>
		</div>
		<div width="100%" style="background-color:#18536d;">
			<center>
				<h2 style="color:white;">Choose an alternative</h2>
				<div>
						<a href="quiz"><button class="choiceButton">Political test</button></a>
						<a href="info"><button class="choiceButton">Parlament motions</button></a>
				</div>
			</center>
		</div>
		<div width="100%" class="title">
			<img src="views/photos/logo.png" class="logo" align="middle" style="display: inline-block; height:5vw;width:5vw;"/>
			<div style="display: inline-block; vertical-align: middle;">
				<h4>Enkel politik</h4>
				<p class="subTitle">Made by team 2Victor</p>
			</div>
		</div>
	</body>
</html>
