<html>
	<head>
		<title>Enkelpolitik</title>
		<link rel="stylesheet" type="text/css" href="views/style.css">
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="views/info.js"></script>
	</head>
	<body>
		<center>
			<div width="100%" class="header">
				<img style="display: inline-block" src="views/photos/logo.png" class="logo"/>
				<h1 style="display: inline-block; vertical-align: middle;">Enkel politik</h1>
			</div>
		</center>
		<div class="parlamentInsideBackground">
			<center>
					<h2 class="foregroundTitle">Motions</h2>
					<p class="foregroundText"><span>Here you can find the most recent votings in the parlament</span></p>
				</center>
		</div>

		<div id="votes">
		</div>
		
		<div width="100%" style="background-color:#18536d;">
			<center>
				<h2>Choose an alternative</h2>
				<div>
						<a href="quiz"><button class="choiceButton">Political test</button></a>
						<a href="info"><button class="choiceButton">Parlament motions</button></a>
				</div>
			</center>
		</div>
		<div class="footer">
			<img class="logo" src="views/photos/logo.png" style="display: inline-block;"/>
			<div style="display: inline-block; vertical-align: middle;">
				<h4>Enkel politik</h4>
				<p class="subTitle">Made by team <a href="https://github.com/mincoder/EnkelPolitik/">2Victor</a> @ <a href="https://hackforsweden.se/">Hack for Sweden</a> 2018</p>
				<p class="subTitle">Forked by <a href="https://github.com/ntoonio/EnkelPolitik/">Anton Lindroth</a></p>
			</div>
		</div>
	</body>
</html>