<html>
<head>
  <title>Enkelpolitik</title>
  <link rel="stylesheet" type="text/css" href="views/style.css">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="views/info.js"></script>
</head>
<body>
  <div width="100%" style="background-color:#ff8a6b;" class="title">
    <center>
    <h1>
    <img src="views/photos/logo.png" class="logo" align="middle"/> Enkelpolitik
    <br />
    </center>
  </div>
  <div id="votes">

  </div>
</div>
</body>
</html>
