<html>
<head>
  <title>Enkelpolitik</title>
  <link rel="stylesheet" type="text/css" href="views/style.css">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="views/quiz.js"></script>
</head>
<body>
  <div width="100%" style="background-color:#ff8a6b;" class="title">
    <center>
    <h1>
    <a href="/"><img src="views/photos/logo.png" class="logo" align="middle"/> Enkelpolitik</a>
    <br />
    </center>
  </div>
  <center>
    <div id="quizcontainer">

    </div>
  </center>
  <div width="100%" style="background-color:#dbff00;" class="title">
    <h4><br />
    <img src="views/photos/logo.png" class="logo" align="middle" style="height:5vw;width:5vw;"/> Enkelpolitik
    <br />
    Made by Team2Viktor
    </h4>
  </div>
</body>
</html>
