@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Roboto:400,700');

body {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", sans-serif;
	background-color: #f6f1f1;
}

.header {
	font-family: "Do Hyeon", sans-serif;
	color: #18536d;
}

h1 {
	font-size: 6vw;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 4vw;
	margin: 0px;
	margin-top: 2vh;
	padding: 0px;
	display: inline-block;
	font-weight: 400;
}

h3 {
	font-size: 2vw;
	margin: 0px;
	margin-top: 2vh;
	padding: 0px;
	display: inline-block;
}

h4 {
	font-size: 1.5vw;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.foregroundTitle {
	margin-top: 1vh;
	padding: 0.5vw 0.5vw;
	display: inline-block;
	background-color: #65adc0;
	color: white;
	font-weight: 700;
}

p.foregroundText {
	margin: 0 1vw;
	font-size: 2vw;
}

.foregroundText span {
	color: white;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	background-color: #65adc0;
}

.subTitle {
	margin: 0;
}

img {
  vertical-align:middle;
  padding: 0px;
  margin: 0px;
}

.logo {
	width: 10vw;
	height: 10vw;
	margin: 1vw 1vw 1vw 1vw;
}

#inforiksdag {
	background-image: url("photos/riksdag.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
	height: 500px;
}

#inforiksdaginne {
	background-image: url("photos/riksdaginne.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
	height: 250px;
}

.subunit {
  background-color: #e3e3e3;
  border-style: solid;
  border-bottom: 1px;
}

.yesvote {
  overflow: hidden;
  background-color: #cccccc;
  float:right;
}

.novote {
  overflow: hidden;
  background-color: #808080;
  float:right;
}

.neutralvote {
  overflow: hidden;
  background-color: #a6a6a6;
  float:right;
}

.partycell {
  float:right;
}

a {
  text-decoration: none;
  color: inherit;
}

.choiceButton {
	background-color: #f6f1f1;
	color: #353253;
	font-size: 2vw;
	border: none;
	margin: 3vh 0.5vw;
}

.optionbutton {
  font-size: 1.5vw;
  border-color: black;
  width:40vw;
}

#quizcontainer {
  background-color: #e644ff;
  /*color: white;*/
  height:70%;
  padding-left: 10vw;
  padding-right: 10vw;
}
